{% extends 'base/main.html' %} <!-- Šis šablonas išplečia 'base/main.html'. Tai reiškia, kad jis paveldės 'base/main.html' struktūrą ir stilių -->

{% block content %} <!-- Prasideda turinio blokas, kuris bus įterptas į pagrindinį šabloną 'base/main.html' -->

<div class="header-bar">
    <!-- Nuoroda grįžti atgal į užduočių sąrašo puslapį -->
    <a href="{% url 'tasks' %}">&#8592; Atgal</a>
</div>

<div class="card-body">
    <form method='POST' action=""> <!-- Forma skirta užduoties ištrynimui. Kai forma bus pateikta, duomenys bus siunčiami POST metodu -->
        
        {% csrf_token %} <!-- Saugumo elementas, padedantis apsisaugoti nuo tam tikrų internetinių atakų (CSRF atakų) -->

        <!-- Tekstas, klausiantis vartotojo, ar jis tikrai nori ištrinti konkrečią užduotį. {{task}} yra kintamasis, kuris atvaizduoja trinamą užduotį -->
        <p>Ar tikrai norite ištrinti šią užduotį? {{task}}</p>
        
        <!-- Mygtukas, skirtas patvirtinti užduoties ištrynimą -->
        <input class="button" value="ištrinti" type="submit">
    </form>
</div>

{% endblock content %} <!-- Baigiasi turinio blokas -->
